[Interface]
Address = $_VPN_IP
PrivateKey = $_PRIVATE_KEY
DNS = $_SERVER_DNS

[Peer]
PublicKey = $_SERVER_PUBLIC_KEY
AllowedIPs = $_SERVER_IP, $_SERVER_DNS/24
Endpoint = $_SERVER_LISTEN
PersistentKeepalive = 55
