_DEFAULT_DIR=/etc/wireguard
_SERVER_DNS=192.168.1.10
_VPN_NET=192.168.88.0/24
_INTERFACE=wg0
_SERVER_ADDRESS=wg.example.com
_SERVER_PORT=51820
_SERVER_LISTEN=$_SERVER_ADDRESS:$_SERVER_PORT
_SERVER_PUBLIC_KEY=
_SERVER_PRIVATE_KEY=
